<main>  
<div class="row product-hero" >
        <div class="columns medium-12">
          <img src="{{firstImage}}" alt="">
        </div>
      </div>
      <div class="row blocks side-by-side">
        <div class="block options" style="background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #98989854;
 background-blend-mode: multiply,multiply;">
          <div class="row">
            <div class="columns medium-7 title">
              <h1>{{description}}</h1>
            </div>
            <div class="columns medium-5 price">
              ${{price}}
            </div>
          </div>
      
      
          <h2>description:</h2>
          <p>{{color}}</p>
          <p>{{weight}}</p>
          <p>{{one}}</p>
          <p>{{two}}</p>
          <input value="1" type="number" min="0" id="amount" placeholder="amout">
          <button onclick="bought('{{ID}}')" class="add-to-cart">Add To Cart</button>
      
        </div>
        <div class="block detail" style="background-image:url('{{secondImage}}')"></div>
      </div>
      
      <!-- slider and product details -->
      <div class="blocks side-by-side">
        <div class="block nopad">
          <img src="{{thirdImage}}" alt="">
        </div>
        <div style="background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #98989857;
 background-blend-mode: multiply,multiply;" class="block">
            
        </div>
      </div>
      
      <!-- Artist Information -->
      <div class="blocks side-by-side artist-block">
        <div class="block artist-info" style="background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #98989850;
 background-blend-mode: multiply,multiply;">
          <div class="blocks">
            <div class="block artist-avatar"><img src="{{logo}}" alt=""></div>
            <div class="block artist-details">
              <h4>About me:</h4>
              <p><a href="https://github.com/galatanw">gal atanw</a></p>
              <p>softwate developer, fan of music, movies, sports and pop culture.  HTML JavaScript NODE.JS mobgoDB.</p>
            </div>
          </div>
      
        </div>
        <div class="block our-artists">
          <div class="blocks" >
            <div class="block" >
              <h5>MAKE THE WORLD GREAT AGAIN</h5>
            </div>
            <div class="block">
              <img src={{logo}} alt="">
            </div>
          </div>    
        </div>
      </div>   
      </main>