  <main>
    <div class="login-wrap">
      <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">CURRENT</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">INSERT </label>
        <div class="login-form">
          <div class="sign-in-htm">
            <div class="group">
              <p id="user" type="text" class="styledFields">{{description}}</p>
            </div>
            <div class="group">
              <p class="styledFields">price-{{price}}</p>
            </div>
            <div class="group">
              <p class="styledFields">sale-{{sale}}%</p>
            </div>
            <div class="group">
              <p class="styledFields">category-{{category}}</p>
            </div>
            <div class="group">
              <p class="styledFields">brand-{{brand}}</p>
            </div>
            <div class="group">
              <p class="styledFields">weight-{{weight}}</p>
            </div>
            <div class="group">
              <p class="styledFields">insurance-{{insurance}}</p>
            </div>
            <div class="group">
              <p class="styledFields">color-{{color}}</p>
            </div>
            <div class="group">
              <p class="styledFields">extra-{{one}}</p>
            </div>
            <div class="group">
              <p class="styledFields">extra-{{two}}</p>
            </div>
            <div class="group">
              <p class="styledFields">quantity-{{qnt}} units</p>
            </div>
             <div class="group">
              <p class="styledFields">image1-{{image1}}</p>
            </div>
             <div class="group">
              <p class="styledFields">image2-{{image2}}</p>
            </div>
             <div class="group">
              <p class="styledFields">image3-{{image3}}</p>
              </div>
             <div class="group">
              <p class="styledFields">image4-{{image4}}</p>
            </div>
            <div class="hr"></div>
           
          </div>
          <div class="sign-up-htm">
            <div class="group">
              <label for="user" class="label">description</label>
              <input name="description" placeholder="description" type="text" class="styledFields insertInput">
            </div>
            <div class="group">
              <label for="pass" class="label">price</label>
              <input name="price" placeholder="price" type="number" class="styledFields insertInput">
            </div>
            <div class="group">
              <label for="pass" class="label">sale</label>
              <input name="sale" type="number" class="styledFields insertInput" >
            </div>
            <div class="group">
              <label for="pass" class="label">category</label>
              <input name="category" type="text" placeholder="category" class="styledFields insertInput">
            </div>
            <div class="group">
              <label for="pass" class="label">brand</label>
              <input name="brand" type="text" placeholder="brand" class="styledFields insertInput">
            </div>
            <div class="group">
              <label for="pass" class="label">weight</label>
              <input name="weight" type="text" placeholder="weight" class="styledFields insertInput">
            </div>
            <div class="group">
              <label for="pass" class="label">insurance</label>
              <input name="insurance" type="text" placeholder="insurance" class="styledFields insertInput">
            </div>
            <div class="group">
              <label for="pass" class="label">color</label>
              <input name="color" type="text" placeholder="color" class="styledFields insertInput">
            </div>
            <div class="group">
              <label for="pass" class="label">one</label>
              <input name="one" type="text" placeholder="one" class="styledFields insertInput">
            </div>
            <div class="group">
              <label for="pass" class="label">two</label>
              <input name="two" type="text" placeholder="two" class="styledFields insertInput">
            </div>
            <div class="group">
              <label for="pass" class="label">qnt</label>
              <input name="qnt" type="number" placeholder="qnt" class="styledFields insertInput">
            </div>
             <div class="group">
              <label for="pass" class="label">image1</label>
              <input name="image" type="text" placeholder="image" class="styledFields insertInput">
            </div>
             <div class="group">
              <label for="pass" class="label">image2</label>
              <input name="image" type="text" placeholder="image" class="styledFields insertInput">
            </div>
             <div class="group">
              <label for="pass" class="label">image3</label>
              <input name="image" type="text" placeholder="image" class="styledFields insertInput">
            </div>
             <div class="group">
              <label for="pass" class="label">image4</label>
              <input name="image" type="text" placeholder="image" class="styledFields insertInput">
            </div>
            <div class="group">
                  <input onclick="updateProduct('{{ID}}')" type="button" value="submit">
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>